project_id = "qadms-production"
region     = "us-central1"

api_image = "us-central1-docker.pkg.dev/qadms-production/qadms/qadms-api:latest"
web_image = "us-central1-docker.pkg.dev/qadms-production/qadms/qadms-web:latest"

api_env_vars = {
  QADMS_ENV = "production"
}

web_env_vars = {
  NEXT_PUBLIC_API_BASE = "https://api.example.com"
}
