project_id = "qadms-staging"
region     = "us-central1"

api_image = "us-central1-docker.pkg.dev/qadms-staging/qadms/qadms-api:latest"
web_image = "us-central1-docker.pkg.dev/qadms-staging/qadms/qadms-web:latest"

api_env_vars = {
  QADMS_ENV = "staging"
}

web_env_vars = {
  NEXT_PUBLIC_API_BASE = "https://api-staging.example.com"
}
